<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台</title>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body class="layui-layout-body"><ul class="layui-nav">
    <li class="layui-nav-item">
        <dd><a href="https://www.baidu.com">百度</a></dd>
    </li>
    <li class="layui-nav-item ">
        <dd><a href="https://d.weibo.com">微博</a></dd>
    </li>
    <li class="layui-nav-item" layui-this>
        <dd><a href="https://blog.csdn.net/little_skeleton/article/details/80996568?depth_1-utm_source=distribute.pc_relevant.none-task&utm_source=distribute.pc_relevant.none-task">Webmagic</a></dd>
    </li>
    <li class="layui-nav-item">
        <dd><a href="https://segmentfault.com/a/1190000017164596?utm_source=tag-newest">商品详情</a></dd>
    </li>

</ul>

    <div class="layui-body ">
        <!-- 内容主体区域 -->
      <!--  <div style="width: 99%;height: 50px;"></div>-->
        <iframe id="iframeMain" src="https://www.baidu.com" frameborder="0" scrolling="yes"  style="width: 100%;height: 98%"></iframe>

    </div>



   <!-- <div class="layui-footer">
        &lt;!&ndash; 底部固定区域 &ndash;&gt;
        &lt;!&ndash;© layui.com - 底部固定区域&ndash;&gt;
    </div>-->
</div>
<script src="layui/layui.js"></script>
<script>
    // JavaScript代码区域
    layui.use(['element', 'jquery'], function () {
        var $ = layui.$;
        var element = layui.element;

        $(document).ready(function () {
            $("dd > a").click(function (e) {
                e.preventDefault();
                $("#iframeMain").attr("src", $(this).attr("href"));
            });
        });
    });
</script>
</body>
</html>